<div class="d-flex justify-content-end">
  <input
    type="file"
    class="file-input"
    style="display: none"
    (change)="incomingfile($event)"
    #fileUpload
  />
</div>
<div class="mt-4 flex justify-end mx-4">
  <p class="text-black my-auto mx-2">
    {{ fileName || "No file uploaded yet." }}
  </p>
  <button class="bg-[blue] px-4 py-2 rounded-lg" (click)="fileUpload.click()">
    <p class="text-white my-0">Click here to upload your file.</p>
  </button>
</div>
<div class="px-5 py-3">
  <table class="w-[100%]" *ngIf="dataArray.length > 0">
    <thead>
      <tr class="py-3">
        <th>No</th>
        <th>Title</th>
        <th>Contenct</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArray; index as i" class="text-center">
        <td class="py-3">{{ i + 1 }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.content }}</td>
      </tr>
    </tbody>
  </table>
</div>
