<div class="w-full p-4">
  <table class="w-[80%] text-center mx-auto">
    <thead>
      <tr class="h-[60px] bg-gray-500">
        <th>No</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Symbol</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let element of dataSource; index as i"
        class="cursor-pointer h-[60px] bg-gray-300 hover:bg-slate-400"
      >
        <td>
          {{ element.position }}
        </td>
        <td>
          <div>12</div>
          {{ element.name }}
        </td>
        <td>{{ element.weight }}</td>
        <td>{{ element.symbol }}</td>
        <td>
          <button
            class="bg-[blue] rounded-lg px-4 py-2"
            (click)="openEditModal(i)"
          >
            <p class="text-white">Edit</p>
          </button>
          <button
            class="bg-[red] rounded-lg ml-4 px-4 py-2"
            (click)="openDelModal(i)"
          >
            <p class="text-white">Delete</p>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  *ngIf="delModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 justify-center items-center flex"
>
  <div class="relative w-auto my-6">
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white"
    >
      <div class="relative p-6 flex-auto">
        <p class="my-4 text-slate-500 text-lg leading-relaxed">
          Are you delete?
        </p>
      </div>
      <div
        class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
      >
        <button
          class="text-white rounded-lg mx-4 bg-slate-500 px-4 py-2"
          (click)="closeDelModal()"
        >
          Close
        </button>
        <button
          class="bg-emerald-500 text-white mx-4 rounded-lg px-4 py-2"
          (click)="delete()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="editModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 justify-center items-center flex"
>
  <div class="relative w-auto my-6">
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white"
    >
      <div class="relative p-6 flex-auto">
        <input value="{{ editData.position }}" />
      </div>
      <div
        class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
      >
        <button
          class="text-white rounded-lg mx-4 bg-slate-500 px-4 py-2"
          (click)="closeEditModal()"
        >
          Close
        </button>
        <button
          class="bg-emerald-500 text-white mx-4 rounded-lg px-4 py-2"
          (click)="edit()"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
