<div class="p-4">
  <form [formGroup]="tableForm">
    <table class="w-[100%] mt-[30px]">
      <thead class="bg-slate-400 h-[60px]">
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Content</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="h-[50px] my-auto bg-slate-600 text-center"
          *ngFor="let data of dataArray; index as i"
        >
          <ng-container *ngIf="selEdit !== i">
            <td>{{ i + 1 }}</td>
            <td>
              {{ data.title }}
            </td>
            <td>
              {{ data.content }}
            </td>
            <td>
              <button
                class="bg-[green] px-4 py-2 rounded-lg mr-5"
                (click)="edit(i)"
              >
                Edit
              </button>
              <button class="bg-[red] px-4 py-2 rounded-lg" (click)="delete(i)">
                Delete
              </button>
            </td>
          </ng-container>
          <ng-container *ngIf="selEdit === i" formGroupName="editForm">
            <td>{{ i + 1 }}</td>
            <td class="px-2">
              <input
                formControlName="title"
                class="py-2 px-4 w-full focus:outline-none rounded-md"
              />
            </td>
            <td class="px-2">
              <input
                formControlName="content"
                class="py-2 px-4 w-full focus:outline-none rounded-md"
              />
            </td>
            <td>
              <button
                class="bg-[green] px-4 py-2 rounded-lg mr-5"
                (click)="save(selEdit)"
              >
                Save
              </button>
              <button
                class="bg-[red] px-4 py-2 rounded-lg"
                (click)="editCancel()"
              >
                Cancel
              </button>
            </td>
          </ng-container>
        </tr>
        <tr
          class="h-[50px] my-auto bg-slate-600"
          *ngIf="addRecord"
          formGroupName="addForm"
        >
          <td></td>
          <td class="px-2">
            <input
              formControlName="title"
              class="py-2 px-4 w-full focus:outline-none rounded-md"
            />
          </td>
          <td class="px-2">
            <input
              formControlName="content"
              class="py-2 px-4 w-full focus:outline-none rounded-md"
            />
          </td>
          <td class="flex justify-center">
            <button
              class="bg-[green] px-4 py-2 rounded-lg mr-5"
              (click)="put()"
            >
              Put
            </button>
            <button class="bg-[red] px-4 py-2 rounded-lg" (click)="addCancel()">
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <div class="flex justify-end mt-5 px-5">
    <button class="bg-[blue] px-4 py-2 rounded-lg" (click)="add()">
      <p class="text-white">Add</p>
    </button>
  </div>
</div>
